h1 {
  color: darkgreen;
  text-align: center;
  font-weight: lighter;
}

h2
{
  color: seagreen;
  text-align: center;
  font-style: italic;
}

a:link {
  color: mediumaquamarine;
}

a:visited {
  color: teal;
}

a:hover{
  color: forestgreen;
  text-decoration: underline;
}'

a:active {

}
